In [1]:
# Read in some data
url = "https://raw.githubusercontent.com/steviep42/bios534_spring_2020/master/data/mtcars.csv"

# Setup some helpful tools
import pandas as pd
mtcars = pd.read_csv(url)
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [1]:
url = "https://raw.githubusercontent.com/steviep42/bios_534_2021/main/data/prostate.csv"
pros = pd.read_csv(url)

NameError: name 'pd' is not defined